.input_button {
  display: flex;

  input {
    float: left;
    width: 125px;
    font: 20px UbuntuMedium;
    letter-spacing: -1px;
    background: #f9f9fa;
    text-align: center;
    border-top: 1px solid #d9dade;
    border-bottom: 1px solid #d9dade;
    border-left: 1px solid #d9dade;
    border-right: none;
    padding: 6px 3px;
    border-radius: 3px 0 0 3px;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: .6;
    }
  }

  button {
    float: left;
    color: #fff;
    background: #209b55;
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 0 3px 3px 0;

    &:hover {
      background: darken(#209b55, 10%);
    }

    &:disabled {
      opacity: .6;
      cursor: default;

      &:hover {
        background: #209b55;
      }
    }
  }
}