:local .task {
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    background: #000;
    border-radius: 5px;
  }

  .icon {
    border: 5px solid #000;
  }
}